h2{
  color: white;
  font-size: 150%;
  font-family: "fantasy";
  text-align: left;
}

p{
  color: white;
  font-family: "helvetica";
  text-indent: 20px;
  margin-left: 10px;
}

#content{
  background-color: #8865BF;
  width: 1000px;
  min-height: 300px;
  padding: 20px;
  margin: 10px;
  border: solid 20px #281E39;
  font-size: 20px;
  color: #F3EFF8;
}

#output{
  background-color: #5F4685;
  width: 920px;
  min-height: 160px;
  padding: 20px;
  margin: 10px;
  border: solid 10px #281E39;
  font-size: 20px;
  color: #F3EFF8;
  font-family: "helvetica";
}
