h1{
  text-align: left;
}

h2{
  color: #765fb0;
  font-size: 150%;
  font-family: "fantasy";
  text-align: left;
}

p{
  color: 	#765fb0;
  font-family: "helvetica";
  font-size: 14px;
  text-indent: 20px;
  margin-left: 10px;
}

#output{
  background-color:	#bee3b6;
  width: 400px;
  min-height: 80px;
  padding: 20px;
  margin: 10px;
  border: solid 20px #8fd4cb;
  font-size: 12px;
  color: #765fb0;
}


#content{
  background-color:	#bee3b6;
  width: 500px;
  min-height: 300px;
  padding: 20px;
  margin: 10px;
  border: solid 20px #8fd4cb;
  font-size: 20px;
  color: #765fb0;
}
