h1{
  color: red;
  font-size: 300%;
  text-align: center;
}

p{
  color: white;
  font-family: "verdana";
  text-indent: 20px;
  margin-left: 10px;
}

#content{
  background-color: #181c39;
  width: 590px;
  min-height: 300px;
  padding: 20px;
  margin: 10px;
  border: solid 10px #000000;
  font-size: 20px;

}
